[View in Colaboratory](https://colab.research.google.com/github/wichersq/alarm-predict-ML/blob/master/timePredML.ipynb)

In [0]:
import tensorflow as tf
import pandas as pd
from google.colab import files

In [2]:
FILE_NAME_WITH_TOTAL_DURATION = 'https://drive.google.com/uc?export=download&id=1bj8g_OIbA6hZAzY9JdtsChRlNBQZ3KLS'
data_df = pd.read_csv(FILE_NAME_WITH_TOTAL_DURATION)
                 
print(data_df.head(10))

#Checks null columns
null_columns=data_df.columns[data_df.isnull().any()]

                         Business Name  \
0                   Maison D'Alexandre
1                     Johnson Law Firm
2                                 DROM
3  Scrub Pro Uniforms & Gallo Clothing
4                           DC Trekker
5                Kohl's Fredericksburg
6                       Investors Bank
7                       Barnes & Noble
8       Market Cafe & Brick Oven Pizza
9                         Jos. A. Bank

                                 Destination Address  \
0                   33 Lewis St, Greenwich, CT 06830
1            302 W Broad St, Elizabethtown, NC 28337
2                    85 Avenue A, New York, NY 10009
3              78 Mountain Rd, Glen Burnie, MD 21060
4           1422 Harvard St NW, Washington, DC 20009
5  1571 Carl D. Silver Parkway, Fredericksburg, V...
6  675 Hempstead Turnpike, Franklin Square, NY 11010
7                601 E Pratt St, Baltimore, MD 21202
8              425 Lexington Ave, New York, NY 10017
9      50 Massachusetts Ave NE, Washington, DC 20002

                      Place ID  \
0  ChIJGz4aH0aYwokR3VM8s7TtKXA
1  ChIJr4DPe1NUqokRkN_WIRK4YC0
2  ChIJwUcmtIJZwokREiWU5DTPSJA
3  ChIJedSIUWL8t4kRfSSulbahtsk
4  ChIJzYWEAOC3t4kRdAtxJcLzdMg
5  ChIJHU597s7BtokRTRTESdWhd0o
6  ChIJs35YjihjwokRq9CM0Xj_RUE
7  ChIJgTs6RX0DyIkREHgimE15YMg
8  ChIJPZ9hTwJZwokRCUp3i6pRM8E
9  ChIJ9arkFSG4t4kRSV9cANuMtMY

                                       Type of Store  Rating  Reviews  \
0      beauty_salon point_of_interest establishment      5.0      2.0
1            lawyer point_of_interest establishment      4.3     12.0
2    night_club bar point_of_interest establishment      4.0    271.0
3  shoe_store clothing_store store point_of_inter...     4.1     58.0
4           lodging point_of_interest establishment      1.0      1.0
5  department_store store point_of_interest estab...     4.0    129.0
6      bank finance point_of_interest establishment      NaN      NaN
7  book_store electronics_store home_goods_store ...     4.5    657.0
8  meal_delivery cafe bakery meal_takeaway store ...     3.7     18.0
9  shoe_store clothing_store store point_of_inter...     2.0      6.0

   Price Level  Day0_Close  Day0_Open  Day1_Close      ...        \
0          NaN         NaN        NaN      1800.0      ...
1          NaN         NaN        NaN      1700.0      ...
2          2.0       400.0     1800.0       200.0      ...
3          NaN      1900.0     1100.0      2100.0      ...
4          NaN         NaN        NaN         NaN      ...
5          1.0      2100.0      900.0      2200.0      ...
6          NaN      1300.0     1000.0      1700.0      ...
7          2.0      2100.0     1000.0      2100.0      ...
8          1.0         NaN        NaN      1800.0      ...
9          3.0      1800.0     1100.0      2100.0      ...

   Walking_Distance  Walking_Duration  Bicycling_Distance  Bicycling_Duration  \
0          130617.0           99408.0              150540               33422
1           61392.0           44778.0               62907               11369
2           18873.0           14239.0               21159                4759
3           15717.0           11827.0               22197                4631
4            2395.0            1931.0                2549                 653
5          101945.0           75678.0              112321               22562
6           12611.0            9583.0               13115                2539
7            5414.0            4073.0                6992                1304
8           18290.0           13897.0               18802                4224
9            3156.0            2541.0                4056                 986

   Transit_Distance  Transit_Duration  Total_Driving  Total_Walking  \
0          131103.0            9948.0         7860.2       151933.2
1               NaN               NaN         5594.2        69994.2
2           26695.0            4323.0         5046.6        24341.1
3           29783.0            5600.0         3921.8        20595.3
4            5522.0            2471.0         3349.6         4751.6
5               NaN               NaN         8212.4       116354.4
6           14169.0            3286.0         4370.0        17194.5
7            6478.0            2053.0         4002.2         9323.7
8           22437.0            3539.0         4513.8        23616.3
9            6839.0            2089.0         3679.6         5424.6

   Total_Biking  Total_Transit
0       52954.2        15469.2
1       19880.7            NaN
2       10121.1        10005.6
3        9801.3        11154.8
4        3473.6         7991.6
5       36680.4            NaN
6        5359.0         8806.0
7        4518.2         7967.2
8        9106.8         9009.8
9        3869.6         7672.6

[10 rows x 35 columns]

In [0]:
def get_open_close_time(df_input_hour, day_in_week):
  open_col = []
  close_col = []
  for n in range(len(day_in_week)):
    day = day_in_week[n]
    col = df_input_hour.iloc[n]
    close_col.append(col[((day*2 )-2)])
    open_col.append(col[((day*2 )-1)])
  return close_col, open_col

In [4]:
input_df = data_df.copy()

input_df['Destination'] = data_df['Business Name'] + ', ' + data_df["Destination Address"]

store_hour_df =  data_df[['Day1_Close', 'Day1_Open','Day2_Close','Day2_Open','Day3_Close',
                          'Day3_Open','Day4_Close','Day4_Open','Day5_Close', 'Day5_Open',     
                          'Day6_Close', 'Day6_Open','Day0_Close', 'Day0_Open']]

# Sorting NAN value as 0 and available value as 1.
input_df['Close_Time'],input_df['Open_Time']  = get_open_close_time(store_hour_df, data_df['Day of the Week'])
input_df['Does_Reviews_Exist?'] = data_df['Reviews'].notnull().astype(int)
input_df['Does_Rating_Exist?'] = data_df['Rating'].notnull().astype(int)
input_df['Does_Price_Lv_Exist?'] = input_df['Price Level'].notnull().astype(int)
input_df['Does_Walking_Exist?'] = input_df['Walking_Duration'].notnull().astype(int)
input_df['Does_Transit_Exist?'] = input_df['Transit_Duration'].notnull().astype(int)
input_df['Does_Close/Open_Time_Exist?'] = input_df['Open_Time'].notnull().astype(int)

# fill nan with value 0
input_df = input_df.fillna(-1)

def linear_scale(series):
  min_val = series.min()
  max_val = series.max()
  scale = (max_val - min_val)
  return series.apply(lambda x:((x / scale))) 

input_df['Reviews'] = linear_scale(input_df['Reviews'])

print(input_df.head(10))

train_df=input_df.sample(frac=0.8, random_state=0)
test_df=input_df.drop(train_df.index)

                         Business Name  \
0                   Maison D'Alexandre
1                     Johnson Law Firm
2                                 DROM
3  Scrub Pro Uniforms & Gallo Clothing
4                           DC Trekker
5                Kohl's Fredericksburg
6                       Investors Bank
7                       Barnes & Noble
8       Market Cafe & Brick Oven Pizza
9                         Jos. A. Bank

                                 Destination Address  \
0                   33 Lewis St, Greenwich, CT 06830
1            302 W Broad St, Elizabethtown, NC 28337
2                    85 Avenue A, New York, NY 10009
3              78 Mountain Rd, Glen Burnie, MD 21060
4           1422 Harvard St NW, Washington, DC 20009
5  1571 Carl D. Silver Parkway, Fredericksburg, V...
6  675 Hempstead Turnpike, Franklin Square, NY 11010
7                601 E Pratt St, Baltimore, MD 21202
8              425 Lexington Ave, New York, NY 10017
9      50 Massachusetts Ave NE, Washington, DC 20002

                      Place ID  \
0  ChIJGz4aH0aYwokR3VM8s7TtKXA
1  ChIJr4DPe1NUqokRkN_WIRK4YC0
2  ChIJwUcmtIJZwokREiWU5DTPSJA
3  ChIJedSIUWL8t4kRfSSulbahtsk
4  ChIJzYWEAOC3t4kRdAtxJcLzdMg
5  ChIJHU597s7BtokRTRTESdWhd0o
6  ChIJs35YjihjwokRq9CM0Xj_RUE
7  ChIJgTs6RX0DyIkREHgimE15YMg
8  ChIJPZ9hTwJZwokRCUp3i6pRM8E
9  ChIJ9arkFSG4t4kRSV9cANuMtMY

                                       Type of Store  Rating   Reviews  \
0      beauty_salon point_of_interest establishment      5.0  0.000309
1            lawyer point_of_interest establishment      4.3  0.001854
2    night_club bar point_of_interest establishment      4.0  0.041866
3  shoe_store clothing_store store point_of_inter...     4.1  0.008960
4           lodging point_of_interest establishment      1.0  0.000154
5  department_store store point_of_interest estab...     4.0  0.019929
6      bank finance point_of_interest establishment     -1.0 -0.000154
7  book_store electronics_store home_goods_store ...     4.5  0.101499
8  meal_delivery cafe bakery meal_takeaway store ...     3.7  0.002781
9  shoe_store clothing_store store point_of_inter...     2.0  0.000927

   Price Level  Day0_Close  Day0_Open  Day1_Close  \
0         -1.0        -1.0       -1.0      1800.0
1         -1.0        -1.0       -1.0      1700.0
2          2.0       400.0     1800.0       200.0
3         -1.0      1900.0     1100.0      2100.0
4         -1.0        -1.0       -1.0        -1.0
5          1.0      2100.0      900.0      2200.0
6         -1.0      1300.0     1000.0      1700.0
7          2.0      2100.0     1000.0      2100.0
8          1.0        -1.0       -1.0      1800.0
9          3.0      1800.0     1100.0      2100.0

              ...               Total_Transit  \
0             ...                     15469.2
1             ...                        -1.0
2             ...                     10005.6
3             ...                     11154.8
4             ...                      7991.6
5             ...                        -1.0
6             ...                      8806.0
7             ...                      7967.2
8             ...                      9009.8
9             ...                      7672.6

                                         Destination  Close_Time  Open_Time  \
0  Maison D'Alexandre, 33 Lewis St, Greenwich, CT...      1800.0      800.0
1  Johnson Law Firm, 302 W Broad St, Elizabethtow...        -1.0       -1.0
2              DROM, 85 Avenue A, New York, NY 10009       200.0     1800.0
3  Scrub Pro Uniforms & Gallo Clothing, 78 Mounta...      2100.0     1000.0
4  DC Trekker, 1422 Harvard St NW, Washington, DC...        -1.0       -1.0
5  Kohl's Fredericksburg, 1571 Carl D. Silver Par...      2200.0      900.0
6  Investors Bank, 675 Hempstead Turnpike, Frankl...      1700.0      900.0
7  Barnes & Noble, 601 E Pratt St, Baltimore, MD ...      2200.0     1000.0
8  Market Cafe & Brick Oven Pizza, 425 Lexington ...      1800.0      500.0
9  Jos. A. Bank, 50 Massachusetts Ave NE, Washing...      1800.0     1100.0

   Does_Reviews_Exist?  Does_Rating_Exist?  Does_Price_Lv_Exist?  \
0                    1                   1                     0
1                    1                   1                     0
2                    1                   1                     1
3                    1                   1                     0
4                    1                   1                     0
5                    1                   1                     1
6                    0                   0                     0
7                    1                   1                     1
8                    1                   1                     1
9                    1                   1                     1

   Does_Walking_Exist?  Does_Transit_Exist?  Does_Close/Open_Time_Exist?
0                    1                    1                            1
1                    1                    0                            0
2                    1                    1                            1
3                    1                    1                            1
4                    1                    1                            0
5                    1                    0                            1
6                    1                    1                            1
7                    1                    1                            1
8                    1                    1                            1
9                    1                    1                            1

[10 rows x 44 columns]

In [0]:
def dumb_model(x):
  """Gets about 3500 error"""
  pred = x[:,0]
  add = tf.Variable(0.0)
  pred += add
  return pred

In [0]:
def NN_model(x):
  pred = tf.layers.dense(inputs = x, units = 100, activation =  tf.nn.relu)
  pred = tf.layers.dense(inputs = pred, units = 50, activation =  tf.nn.relu)
  pred = tf.layers.dense(inputs = pred, units = 10, activation =  tf.nn.relu) 
  pred = tf.layers.dense(inputs = pred, units = 5, activation =  tf.nn.relu)
  pred = tf.layers.dense(inputs =pred, units = 1)
  return pred

In [0]:
tf.reset_default_graph()

list_samp_x = ['Driving_Duration', 'Reviews', 'Does_Reviews_Exist?','Price Level','Does_Price_Lv_Exist?'] #, 'Rating', 'Does_Rating_Exist?']
x = tf.placeholder(shape=(None, len(list_samp_x)), dtype=tf.float32)
y_ = tf.placeholder(shape=(None, 1), dtype=tf.float32)
pred = NN_model(x)

loss = tf.square(y_ - pred)
error = tf.abs(y_ - pred)
loss = tf.reduce_mean(loss)
error = tf.reduce_mean(error)

opt = tf.train.AdamOptimizer(.0003).minimize(loss)

sess =tf.Session()
sess.run(tf.global_variables_initializer())
loss_vals = []

In [0]:
for i in range(60000):
  batch = train_df.sample(100)
  samp_x = batch.as_matrix(list_samp_x)
  samp_y = batch.as_matrix(['Total_Driving'])
  _, loss_val, error_val = sess.run([opt, loss, error], feed_dict={x:samp_x, y_:samp_y})
  if i % 2000 == 0:
    print("loss", loss_val, "\n error", error_val)
    
    batch = test_df
    samp_x = batch.as_matrix(list_samp_x)
    samp_y = batch.as_matrix(['Total_Driving'])
    loss_val, error_val = sess.run([loss, error], feed_dict={x:samp_x, y_:samp_y})
    print("testing_loss", loss_val, "\n testing_error", error_val)
    
 #optimizer .0003
 # 30000 iteration
 # error 253.36313

 #optimizer .0005
 # 30000 iteration
 # error 228.12729
  
 #optimizer .0003
 # 60000 iteration
 # error 171.95436

# without price level
#error 187.73192

loss 93508280.0
 error 8309.803
testing_loss 71285290.0
 testing_error 7321.413
loss 2407835.8
 error 1308.0309
testing_loss 2593065.0
 testing_error 1378.1989
loss 1956840.5
 error 1180.5688
testing_loss 2565315.0
 testing_error 1364.2834
loss 2096750.2
 error 1215.9193
testing_loss 2530575.5
 testing_error 1363.4529
loss 2222925.8
 error 1226.636
testing_loss 2487504.0
 testing_error 1354.5975
loss 2232885.8
 error 1327.0277
testing_loss 2376100.5
 testing_error 1312.4169
loss 1431017.1
 error 1003.68024
testing_loss 1907405.8
 testing_error 1173.8478
loss 631491.9
 error 631.1598
testing_loss 680082.2
 testing_error 671.02545
loss 297794.75
 error 467.0543
testing_loss 320418.47
 testing_error 468.15598
loss 149753.12
 error 251.41924
testing_loss 216173.89
 testing_error 325.41824
loss 171102.84
 error 275.5192
testing_loss 188293.52
 testing_error 269.03787
loss 152336.92
 error 258.4233
testing_loss 178344.53
 testing_error 286.3161
loss 177552.7
 error 309.72827
testing_loss 182005.6
 testing_error 282.20325
loss 215755.31
 error 297.9402
testing_loss 167162.9
 testing_error 257.86646
loss 204558.36
 error 328.62872
testing_loss 156651.72
 testing_error 253.74791
loss 184625.95
 error 308.64987
testing_loss 154109.69
 testing_error 253.88547
loss 112469.38
 error 244.70244
testing_loss 146197.67
 testing_error 258.84183
loss 147357.45
 error 307.50024
testing_loss 139613.1
 testing_error 264.4293
loss 158429.12
 error 269.53632
testing_loss 132365.67
 testing_error 233.0761
loss 102326.6
 error 214.40492
testing_loss 137726.7
 testing_error 241.24628
loss 110621.46
 error 246.85
testing_loss 120202.09
 testing_error 214.25462
loss 100899.66
 error 205.65753
testing_loss 118438.12
 testing_error 214.13329
loss 106800.82
 error 202.5613
testing_loss 119425.66
 testing_error 227.45294
loss 165076.94
 error 266.811
testing_loss 117832.85
 testing_error 233.53111
loss 116221.29
 error 216.1651
testing_loss 109824.51
 testing_error 196.05959
loss 91441.12
 error 171.6675
testing_loss 102937.63
 testing_error 186.39595
loss 137328.94
 error 228.63165
testing_loss 105742.37
 testing_error 176.31853
loss 180456.56
 error 289.76575
testing_loss 112739.66
 testing_error 239.4814